{
    "swagger": "2.0",
    "info": {
        "description": "An open source content management API. You can find out more about frdm at [https://frdm.io](https://frdm.io).",
        "version": "0.0.1",
        "title": "frdm",
        "termsOfService": "https://frdm.io/terms.html",
        "contact": {
            "email": "api@frdm.io"
        }
    },
    "host": "api.frdm.io",
    "basePath": "/",
    "schemes": [
        "https"
    ],
    "paths": {
        "/locale/countries": {
            "get": {
                "tags": [
                    "countries"
                ],
                "summary": "Get all countries",
                "description": "",
                "operationId": "getCountries",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "data": {
                                    "$id": "/properties/data",
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/definitions/country"
                                    }
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "oauth2": [
                            "read:country",
                            "read:continent"
                        ]
                    }
                ]
            }
        },
        "/locale/continents": {
            "get": {
                "tags": [
                    "continents"
                ],
                "summary": "Get all continents",
                "description": "",
                "operationId": "getContinents",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "data": {
                                    "$id": "/properties/data",
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/definitions/continent"
                                    }
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "oauth2": [
                            "read:country"
                        ]
                    }
                ]
            }
        },
        "/locale/continents/{iso}/countries": {
            "get": {
                "tags": [
                    "continents"
                ],
                "summary": "Get all countries in a continent",
                "description": "",
                "operationId": "getCountriesInContinent",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "iso",
                        "in": "path",
                        "description": "The continent ISO",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "data": {
                                    "$id": "/properties/data",
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/definitions/country"
                                    }
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "oauth2": [
                            "read:continent",
                            "read:country"
                        ]
                    }
                ]
            }
        }
    },
    "securityDefinitions": {
        "OAuth2": {
            "type": "oauth2",
            "authorizationUrl": "http://api.frdm.io/oauth/dialog",
            "flow": "implicit",
            "scopes": {
                "read:countries": "Read a Country",
                "read:continents": "Read a Continent"
            }
        }
    },
    "definitions": {
        "country": {
            "type": "object",
            "properties": {
                "iso": {
                    "type": "string"
                },
                "iso3": {
                    "type": "string"
                },
                "numcode": {
                    "type": "integer",
                    "format": "int32"
                },
                "name": {
                    "type": "string"
                },
                "slug": {
                    "type": "string"
                },
                "continent": {
                    "type": "string"
                }
            }
        },
        "continent": {
            "type": "object",
            "properties": {
                "iso": {
                    "type": "string"
                },
                "name": {
                    "type": "string"
                },
                "slug": {
                    "type": "string"
                }
            }
        }
    },
    "externalDocs": {
        "description": "Find out more about frdm",
        "url": "https://frdm.io"
    }
}